# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Other junk
.DS_Store

*.log
*.exp
*.pdb

.vs
obj

src/packages/
src/bin/*.lib
src/bin/*.msi
src/bin/*.wixpdb
